## Categorical Variable to Numeric Variable
- 범주형 변수를 수치형 변수로 나타내는 방법
- 범주형 변수 : 데이터 상에서 문자열으로 표현되는 경우가 많으며 문자와 숫자가 매핑되는 형태로 표현되기도 함
## 특성공학
- 특정 애플리케이션에 가장 적합한 데이터 표현을 찾는 것
- 실제 문제를 풀기 위해 당면하는 주요 작업 중 하나로 올바른 데이터 표현은 지도 학습 모델에서 적절한 매개변수를 선택하는 것보다 성능에 더 큰 영향을 미침
## 원 핫 인코딩(가변수,one-hot-encoding)
- n개의 범주형 데이터를 n개의 비트(0,1) 벡터로 표현
- 범주형 변수를 표현하는데 가장 널리 쓰이는 방법
- 가변수 : 범주형 변수를 0 또는 1값을 가진 하나 이상의 새로운 특성으로 바꾼 것

In [2]:
import os
import pandas as pd
# 이 파일은 열 이름을 나타내는 헤더가 없으므로 header=None으로 지정하고
# "names" 매개변수로 열 이름을 제공합니다
data = pd.read_csv('../../data/python_data/adult.data', header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])
# 예제를 위해 몇개의 열만 선택합니다
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]
# IPython.display 함수는 주피터 노트북을 위해 포맷팅된 출력을 만듭니다
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

###### 문자열로 된 범주형 데이터 확인하기

In [3]:
print(data.gender.value_counts())
# 데이터 셋의 gender은 male. female 2가지 값(원핫인코딩으로 나타내기 좋은 형태)

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [5]:
print("원본 특성:\n",list(data.columns),"\n")
# pd.get_dummies() : 객체 타입이나 범주형을 가진 열을 자동으로 변환
data_dummies = pd.get_dummies(data)
print("get_dummies 후의 특성\n",list(data_dummies.columns),"\n")
# 연속형 특성인 age와 hours-per-week는 그래도지만 범주형 특성은
# 값마나 새로운 특성으로 확장

원본 특성:
 ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']

get_dummies 후의 특성
 ['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'gender_ Female', 'gender_ Male', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'income_ <=50K', 'income_ >50K']

In [6]:
data_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   gender          32561 non-null  object
 4   hours-per-week  32561 non-null  int64
 5   occupation      32561 non-null  object
 6   income          32561 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.7+ MB

In [8]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            32561 non-null  int64
 1   hours-per-week                 32561 non-null  int64
 2   workclass_ ?                   32561 non-null  uint8
 3   workclass_ Federal-gov         32561 non-null  uint8
 4   workclass_ Local-gov           32561 non-null  uint8
 5   workclass_ Never-worked        32561 non-null  uint8
 6   workclass_ Private             32561 non-null  uint8
 7   workclass_ Self-emp-inc        32561 non-null  uint8
 8   workclass_ Self-emp-not-inc    32561 non-null  uint8
 9   workclass_ State-gov           32561 non-null  uint8
 10  workclass_ Without-pay         32561 non-null  uint8
 11  education_ 10th                32561 non-null  uint8
 12  education_ 11th                32561 non-null  uint8
 13  education_ 12th                32561 non-null  uint8
 14  education_ 1st-4th             32561 non-null  uint8
 15  education_ 5th-6th             32561 non-null  uint8
 16  education_ 7th-8th             32561 non-null  uint8
 17  education_ 9th                 32561 non-null  uint8
 18  education_ Assoc-acdm          32561 non-null  uint8
 19  education_ Assoc-voc           32561 non-null  uint8
 20  education_ Bachelors           32561 non-null  uint8
 21  education_ Doctorate           32561 non-null  uint8
 22  education_ HS-grad             32561 non-null  uint8
 23  education_ Masters             32561 non-null  uint8
 24  education_ Preschool           32561 non-null  uint8
 25  education_ Prof-school         32561 non-null  uint8
 26  education_ Some-college        32561 non-null  uint8
 27  gender_ Female                 32561 non-null  uint8
 28  gender_ Male                   32561 non-null  uint8
 29  occupation_ ?                  32561 non-null  uint8
 30  occupation_ Adm-clerical       32561 non-null  uint8
 31  occupation_ Armed-Forces       32561 non-null  uint8
 32  occupation_ Craft-repair       32561 non-null  uint8
 33  occupation_ Exec-managerial    32561 non-null  uint8
 34  occupation_ Farming-fishing    32561 non-null  uint8
 35  occupation_ Handlers-cleaners  32561 non-null  uint8
 36  occupation_ Machine-op-inspct  32561 non-null  uint8
 37  occupation_ Other-service      32561 non-null  uint8
 38  occupation_ Priv-house-serv    32561 non-null  uint8
 39  occupation_ Prof-specialty     32561 non-null  uint8
 40  occupation_ Protective-serv    32561 non-null  uint8
 41  occupation_ Sales              32561 non-null  uint8
 42  occupation_ Tech-support       32561 non-null  uint8
 43  occupation_ Transport-moving   32561 non-null  uint8
 44  income_ <=50K                  32561 non-null  uint8
 45  income_ >50K                   32561 non-null  uint8
dtypes: int64(2), uint8(44)
memory usage: 1.9 MB

In [12]:
# 모델을 학습시키기 전에 데이터로부터 타깃값(income) 분리
features = data_dummies.loc[:,'age':'occupation_ Transport-moving']
X = features.values
y = data_dummies['income_ <=50K'].values
print("X.shape:{} y.shape:{}".format(X.shape,y.shape))

X.shape:(32561, 44) y.shape:(32561,)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print("테스트 점수:{:.2f}".format(logreg.score(X_train,y_train)))

테스트 점수:0.81

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [30]:
# ColumnTranmformer를 이용하여 연속형 변수인 age와 hours-per-week의 스케일 조정
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

ct = ColumnTransformer([('scaling',StandardScaler(),['age','hours-per-week']),
                       ('onehot',OneHotEncoder(sparse=False),
                        (['workclass','education','gender','occupation']))])

In [31]:
ct

ColumnTransformer(transformers=[('scaling', StandardScaler(),
                                 ['age', 'hours-per-week']),
                                ('onehot', OneHotEncoder(sparse=False),
                                 ['workclass', 'education', 'gender',
                                  'occupation'])])

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
data_features = data.drop("income",axis=1)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
    data_features, data.income, random_state=0)

In [34]:
ct.fit(X_train)
X_train_trans = ct.transform(X_train)
print(X_train_trans.shape)
# 44개 특성이 생성됨 + 연속형 특성 스케일도 조정됨

(24420, 44)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [37]:
# 데이터 스케일이 영향을 미치지 못했다
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

X_test_trans = ct.transform(X_test)
logreg.score(X_test_trans, y_test)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8092371944478566

#### 숫자로 표현된 범주형 특성

### 범주형 변수
- one-hot-encoding 범주형 변수처럼 머신러닝 알고리즘에 적합한 방식으로 표현하는 것이 중요
- 새로운 특성을 만드는 것과 데이터로 표현하는 것이 중요
- 새로운 특성을 만드는 것과 데이터 늑성을 유도하기 위해 전문가 지식을 활용하는 것이 중요

In [27]:
# 숫자 특성과 범주형 문자열 특성을 가진 DataFrame을 만듬
import pandas as pd
demo_df = pd.DataFrame({'숫자 특성':[0,1,2,1],
                       '범주형 특성':['양말','여우','양말','상자']})
display(demo_df)

   숫자 특성 범주형 특성
0      0     양말
1      1     여우
2      2     양말
3      1     상자

In [29]:
# get_dummies를 사용하면 문자열 틀성만 인코딩 되며 숫자 특성은 바뀌지 않음
display(pd.get_dummies(demo_df))

   숫자 특성  범주형 특성_상자  범주형 특성_양말  범주형 특성_여우
0      0          0          1          0
1      1          0          0          1
2      2          0          1          0
3      1          1          0          0

In [38]:
# 숫자 특성도 가변수로 만들고 싶다면 컬럼 매개변수에 인코딩하고싶은 열을
# 명시해야 한디
demo_df['숫자 특성'] = demo_df['숫자 특성'].astype(str)
display(pd.get_dummies(demo_df,columns=['숫자 특성','범주형 특성']))

   숫자 특성_0  숫자 특성_1  숫자 특성_2  범주형 특성_상자  범주형 특성_양말  범주형 특성_여우
0        1        0        0          0          1          0
1        0        1        0          0          0          1
2        0        0        1          0          1          0
3        0        1        0          1          0          0

- pd.get_dummies(df) 이용
- OneHotEncoder 클래스는 fit()과 transform()을 이용하여 반환

In [40]:
# OneHotEncoder와 ColumnsTransformer : Sklearn으로 범주형 변수 다루기
# OneHotEncoder은 모든 열에 인코딩을 수행함(문자열 정수 다 변환)
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
print(ohe.fit_transform(demo_df))

[[1. 0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0. 1.]
 [0. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 0.]]

C:\ProgramData\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [41]:
# 변환된 특성에 해당하는 원본 범주형 변수 이름 가져오기
# print(ohe.get_feature_names())
print(ohe.get_feature_names_out())

['숫자 특성_0' '숫자 특성_1' '숫자 특성_2' '범주형 특성_상자' '범주형 특성_양말' '범주형 특성_여우']